:root {
  --blue: #335DFF;
  --gradient: linear-gradient(180deg, rgba(26,109,255,1) 0%, rgba(200,34,255,1) 100%);
  --grey: #F5F5F5;
  --grey-d-1: #EEE;
  --grey-d-2: #DDD;
  --grey-d-3: #888;
  --white: #FFF;
  --dark: #222;
}

.chatbox-wrapper {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    background: var(--dark);
}

.chatbox-message-wrapper {
    position: relative;
    margin: 0;
    min-width: 500px;
    height: 100%;
    min-height: 50vh;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    overflow: hidden;
    background: #0e070f;
}

.chatbox-message-header {
    padding: 1.5rem 1.5rem;
}

.chatbox-message-profile {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  color: var(--dark);
  font-size: 4rem;
}

.chatbox-message-name {
  font-size: 1.125rem;
  font-weight: 600;
}

.chatbox-message-status {
  font-size: 0.875rem;
  color: var(--grey-d-3);
}

.chatbox-message-content {
    background: #0e070f;
    padding: 0 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    grid-row-gap: 0rem;
    height: 55vh;
    margin-bottom: 5.5rem;
    overflow-y: auto;
    width: 41vw;
}

.chatbox-message-typing {
    display: flex;
    color: var(--white);
    font-size: 0.9rem;
    background: #191919;
    padding: 0.5rem 1.5rem;
    width: 100%;
    margin-top: -0.75rem;
    margin-bottom: 0.7rem;
}

.chatbox-message-sender {
    text-align: left;
    color: var(--);
    width: auto;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.chatbox-message-item {
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    background: #140b17;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: auto;
    padding: 1rem;
}

.chatbox-message-item:first-child{
    margin-top: 0.5rem;
}

.chatbox-message-item:nth-child(even) {
    background: #211326;
}

.chatbox-message-item-text {
    text-align: left;
    font-size: 0.9rem;
}

.chatbox-message-item.sent {
    background: rgba(0,0,0, 0.25);
    border-radius: 0.5rem;
    width: auto;
    margin: 0.5rem 0.5rem;
    color: var(--white);
}

.chatbox-message-item-time {
     margin-left: 0.5rem;
     font-size: 0.7rem;
     color: var(--grey-d-3)
}

.chatbox-message-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    padding: 0.75rem 0rem;
    max-width: 41vw;
}

.chatbox-message-form {
    display: flex;
    width: 100%;
    align-items: center;
    background: #0a0a0a;
    border: 2px solid #4d4d4d;
    color: var(--white);
    border-radius: 5rem;
    padding: 0.5rem 0.5rem 0.5rem 1.25rem;
    margin: 0 0.5rem;
}

.chatbox-message-input {
    font-size: 1rem;
    color: var(--white);
    background: transparent;
    outline: none;
    border: none;
    resize: none;
    scrollbar-width: none;
}

.chatbox-message-input::-webkit-scrollbar {
  display: none;
}

.chatbox-message-submit {
    float: right;
    font-size: 1rem;
    color: var(--white);
    background: linear-gradient(115deg, #3a2e42, #21122b);
    border-radius: 5rem;
    border: 1px solid transparent;
    outline: none;
    display: flex;
    cursor: pointer;
}

.chatbox-message-submit:hover {
    background: #21122b;
}

.typing {
  position: relative;
  margin-right: 1.75rem;
}
.typing span {
  content: "";
  animation: blink 1.5s infinite;
  animation-fill-mode: both;
  height: 0.3rem;
  width: 0.3rem;
  background: var(--white);
  position: absolute;
  border-radius: 50%;
  bottom: 0.5rem;
}
.typing span:nth-child(2) {
  animation-delay: 0.2s;
  margin-left: 0.5rem;
}
.typing span:nth-child(3) {
  animation-delay: 0.4s;
  margin-left: 1rem;
}

.users-status-list {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    width: 10rem !important;
    height: 53vh !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.users-status-list-header {
    display: flex;
    justify-content: center;
    margin-left: 1.6rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.user-status {
    padding: 0.1rem;
    text-align: left;
    margin-left: 1rem;
}

.user-status-icon {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: -2px;
    text-align: left;
}

.invite-link-button {
    float: right;
    font-size: 1rem;
    color: var(--white);
    background: linear-gradient(115deg, #3a2e42, #21122b);
    border-radius: 5rem;
    border: 1px solid transparent;
    outline: none;
    display: flex;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1.3rem 1rem;
}

.invite-link-button:hover {
    background: #21122b;
}

@keyframes blink {
    0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@media screen and (max-width: 576px) {
  .chatbox-message-wrapper {
    width: calc(100vw - 2rem);
  }
  .chatbox-wrapper {
    bottom: 1rem;
    right: 1rem;
  }
  .chatbox-message-content {
    max-height: 300px;
  }
}
